@using System.Configuration
@model UnipiForum.Areas.Admin.ViewModels.UsersEdit

<h1>Edit User @Model.Username</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
  
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(f => f.University_ID)
        @Html.TextBoxFor(f => f.University_ID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.Username)
        @Html.TextBoxFor(f => f.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Email)
        @Html.TextBoxFor(f => f.Email, new { @class = "form-control", type = "email" })
    </div>
    var SiteRootUrl = ConfigurationManager.AppSettings["Route_Url"];
    var flexpr = SiteRootUrl +"/Files/project" + Model.University_ID + ".rar";
    if (File.Exists(flexpr))
    {
        <div class="form-group">
            @Html.LabelFor(f => f.Passed_Text, "Passed Project Answer")
            @Html.TextBoxFor(f => f.Passed_Text, new { @class = "form-control"})
        </div>
    }

    @Html.Partial("_RoleEditor", Model.Roles)

    <input type="submit" value="Update User" class="btn btn-primary" />
    <a href="@Url.Action("Index")">or cancel</a>
}

