@using Microsoft.Ajax.Utilities
@model UnipiForum.ViewModels.DoATest

<h1>now you must see your first test</h1>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(f => f.Test_ID)
        @Html.TextBoxFor(f => f.Test_ID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Model.Test_Text
    </div>

    <div>
        @*<div class="panel-heading">Questions</div>*@
        <div class="panel-body">
            @{ var cnt = 1;}
            @*@foreach (var question in Model.Questions)*@
            @for(int j=0; j<Model.Questions.Count; j++)
            {

                var quest = Model.Questions[j];
                //var questionAnswers = Model.Answers.Where(s => s.Question_ID == question.Question_ID).ToList();
                <div class="panel panel-default"> 
                    <div class="panel-heading">Ouestion: @cnt</div>
                    @{ cnt++;}
                    <div class="panel-body"> @quest.Question_Text</div>

                    <div class="panel panel-default" style="width: 98%; margin: 1%;">
                        <div class="panel-heading">Answers</div>
                        <div class="panel-body">
                            <ul class="list-group" style="width: 98%; margin: 1%;">
                                @for (int i = 0; i < quest.Answers_List.Count; i++)
                                {

                                <li class="list-group-item">
                                    @Html.Hidden("Questions[" + j + "].Answers_List[" + i + "].Answer_ID", quest.Answers_List[i].Answer_ID)
                                    @Html.Hidden("Questions[" + j + "].Question_ID", quest.Question_ID)
                                    @Html.Hidden("Questions[" + j + "].Question_Difficulty", quest.Question_Difficulty)
                                    @Html.Hidden("Questions[" + j + "].Question_Text", quest.Question_Text)
                                    @Html.Hidden("Questions[" + j + "].Answers_List[" + i + "].Answer_Text", quest.Answers_List[i].Answer_Text)

                                    <label for="Answers@(i)__Ischecked">
                                        @Html.CheckBox("Questions[" + j + "].Answers_List[" + i + "].User_Answer", quest.Answers_List[i].User_Answer)
                                        @quest.Answers_List[i].Answer_Text
                                    </label>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


    <input type="submit" value="Update User" class="btn btn-primary" />
    <a href="@Url.Action("Index","Posts")">or cancel</a>




}