@model UnipiForum.ViewModels.AuthLogin


@{
    ViewBag.Title = "Login";
}




@using (Html.BeginForm())
{
    <div class="panel-body">
        <div class="panel panel-default" style="width: 210px">
            @Html.ValidationSummary()


                <div class="panel-body">
                    @Html.LabelFor(x => x.Username)

                @Html.EditorFor(x => x.Username)
            </div>

                <div class="panel-body">
                    @Html.LabelFor(x => x.Password)
                    @Html.EditorFor(x => x.Password)
                </div>

                <div class="panel-body">
                    <input type="submit" value="Login" />
                    <a href="@Url.RouteUrl("Home")">or cancel</a>
                </div>
            </div>
    </div>
}
