@using UnipiForum.Models
@{
    Layout = null;
}
@helper SelectedTabClass(string tabName)
    {
        if (tabName == ViewBag.SelectedTab)
        {
            @: active
        }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title - Unipi Forum </title>
    @Styles.Render("~/styles")
    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li>
                <a href="@Url.RouteUrl("Home")">Unipi Forum </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {

                <li class="pull-right">
                    <a href="@Url.RouteUrl("logout")">Logout</a>
                </li>
                if (User.IsInRole("admin"))
                {
                    <li class="pull-right">
                        <a href="@Url.Action("Index", "Users", new {area = "admin"})">Go to Admin Page</a>`
                    </li>

                }

                <li class="pull-right">
                    <a href="@Url.RouteUrl("UserProfile")">Go to My Profile </a>
                </li>

            }
            else
            {
                <li class="pull-right">
                    <a href="@Url.RouteUrl("login")">Login</a>
                </li>
                <li class="pull-right">
                    <a href="@Url.RouteUrl("NewUserProfile")">Sign Up </a>
                </li>
            }

        </ul>
    </div>
    <div class="container">
        <header>
            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome back, @User.Identity.Name</p>
                using (var context = new unipiforumSQLEntities2())
                {
                    if (User.IsInRole("") || User.IsInRole("student") && (context.users.FirstOrDefault(p => p.username == User.Identity.Name).group_id == null))
                    {
                        <p>Do a test for the first time! With this we will able to put you with students with the same level with you! <a href="@Url.RouteUrl("UserTests")">Do your first test</a></p>
                    }
                }

            }

        </header>
        <br />
        <br />
        @RenderBody()
    </div>


</body>
</html>
