

<!DOCTYPE html>
<html>   
<head>
    <title>@ViewBag.title - Simple Blog </title>
</head>
<body>
<header>
    @Html.ActionLink("UNIPI FORUM","About","Home") 
    
    <a href="@Url.RouteUrl("Home" )">Simple Blog</a>
    
    <a href="@Url.RouteUrl("login")">Login</a>
</header>

@RenderBody()
    
    @RenderSection("Scripts",false)

</body>
</html>
